{% extends "project/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    {{ form.name.errors }}

    {{form|crispy}}
    <label for="tag">tags</label>
   <input type="text" name="tags"> <br><br>


    <input type="file" id="images" name="images" multiple><br><br>

{#    {{ formset.management_form }}#}
{#    {% for form in formset %}#}
{#        {{ form }}#}
{#    {% endfor %}#}



<input type="submit" class="btn btn-success offset-5 mt-2" value="submit">
</form>
{% endblock content %}
