{% extends "project/base.html" %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">project name</th>
        <th scope="col">details</th>
        <th scope="col">total target</th>
        <th scope="col">category</th>
        <th scope="col" style="text-align: center;" colspan="3">action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {%for project in projects %}
        <th scope="row">{{forloop.counter}}</th>
        <td>{{project.title}}</td>
        <td>{{project.details}}</td>
        <td>{{project.total_target}}</td>
        <td>{{project.category}}</td>
        <td><a href="/{{project.id}}" class="btn btn-info">view</a></td>
        {% ifequal request.user.id project.owner_id %}
        <td colspan="2"><a href="{{project.id }}/edit" class="btn btn-danger"> update</a></td>
        <td>  <a href="{{project.id }}/delete" class="btn btn-success"> delete</a></td>
       {% endifequal %}
      </tr>
      {%endfor%}
    </tbody>
  </table>
{% endblock content %}