{% extends "project/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>
        {{ project.title }}
    </h1>
    <p>
        {{ project.details }}
    </p>
    <h1>{{ project.total_target }}</h1>
    <h1>{{ project.category }}</h1>


    {% ifnotequal request.user.id project.owner_id %}

        <div class="donate">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#donate">
                donate project
            </button>

            <!-- Modal -->
            <div class="modal  fade " id="donate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <section class="donors">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="donors_input">
                                    <h2>DONATION NOW</h2>
                                    {#                                   <form action="{% url 'report-project' %}"  method="POST">#}
                                    {#    {%csrf_token%}#}
                                    <input type="hidden" class="btn btn-success offset-5 mt-2" name="project_id"
                                           value="{{ project.id }}">
                                    <input type="hidden" class="btn btn-success offset-5 mt-2" name="user_id"
                                           value="{{ user.id }}">

                                    <p class="amount">

                                        <input id="donateValue" type="number" name="donate">
                                    </p>
                                    <div id="donateMsg"></div>
                                    <h5>
                                    </h5>
                                    <h4>
                                    </h4>
                                    <input type="submit" id="donateSubmit" value="DONATION NOW">
                                    {#                            </form>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <br>

        <div class="report">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#report">
                report project
            </button>

            <!-- Modal -->
            <div class="modal  fade " id="report" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Enter your report</h5>
                            {#        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
                        </div>
                        <form action="{% url 'report-project' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" class="btn btn-success offset-5 mt-2" name="project_id"
                                   value="{{ project.id }}">
                            <input type="hidden" class="btn btn-success offset-5 mt-2" name="user_id"
                                   value="{{ user.id }}">

                            <div class="modal-body">
                                <textarea name="report_body" rows="4" class="form-control"></textarea>
                            </div>
                            <div class="modal-footer">
                                {#        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
                                <input type="submit" class="btn btn-primary" value="report">
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    {% endifnotequal %}






    <form action="{% url 'comment' %}" method="POST">

        {% csrf_token %}
        <input type="hidden" class="btn btn-success offset-5 mt-2" name="project_id" value="{{ project.id }}">
        <input type="hidden" class="btn btn-success offset-5 mt-2" name="user_id" value="{{ user.id }}">
        {{ form.name.errors }}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success offset-5 mt-2" value="comment">
    </form>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card"><span>User rates</span>
                <div class="card-body text-center"><span class="myratings">  {{ rate }}</span>
                    <h4 class="mt-1">Rate us</h4>
                    <fieldset class="rating"><input type="radio" id="star5" name="rating" value="5"/><label class="full"
                                                                                                            for="star5"
                                                                                                            title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4.5"/><label class="half"
                                                                                             for="star4half"
                                                                                             title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4"
                                                                                       title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3.5"/><label class="half"
                                                                                             for="star3half"
                                                                                             title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3"
                                                                                       title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2.5"/><label class="half"
                                                                                             for="star2half"
                                                                                             title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2"
                                                                                       title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1.5"/><label class="half"
                                                                                             for="star1half"
                                                                                             title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1"
                                                                                       title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="0.5"/><label class="half" for="starhalf"
                                                                                            title="Sucks big time - 0.5 stars"></label>
                        <input type="radio" class="reset-option" name="rating" value="reset"/></fieldset>
                </div>
            </div>
        </div>
    </div>

    {% if project.user_comment.all %}
        {% for comment in project.projectCommented.all %}
            <h1>{{ comment.user }}</h1>
            <h1>{{ comment }}</h1>
            <div class="reportComment">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#commentreport{{ comment.id }}">
                    report comment
                </button>

                <!-- Modal -->
                <div class="modal  fade " id="commentreport{{ comment.id }}" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Enter your report</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{% url 'report-comment' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" class="btn btn-success offset-5 mt-2" name="commment_id"
                                       value="{{ comment.id }}">
                                <input type="hidden" class="btn btn-success offset-5 mt-2" name="user_id"
                                       value="{{ user.id }}">

                                <div class="modal-body">
                                    <textarea name="report_body" rows="4" class="form-control"></textarea>
                                </div>
                                <div class="modal-footer">
                                    {#        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
                                    <input type="submit" class="btn btn-primary" value="report">
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

            <br>
        {% endfor %}


    {% endif %}
    {#<div style="">#}
    {##}
    {#    <form action="" method="POST">#}
    {#    {%csrf_token%}#}
    {#    {{ reportForm.name.errors }}#}
    {#    {{reportForm|crispy}}#}
    {#    <input type="submit" class="btn btn-success offset-5 mt-2" value="report">#}
    {#    </form>#}
    {##}
    {#</div>#}

{% endblock content %}
{% block scripts %}
    <script>
        {#console.log(id)#}
        $(document).ready(function () {
            var proectId = "{{ project.id }}"
            var userId = "{{ user.id }}"

            $("input[type='radio']").click(function () {
                var rate = $("input[type='radio']:checked").val();
                let data = {
                    proectId: proectId,
                    userId: userId,
                    rate: rate
                }
                $.ajax({
                    url: "/project/rate",
                    data: data,
                    type: 'get',
                    success: function (data) {
                        if (data.is_taken) {
                            alert(data.error_message);
                        }
                    }
                });


            });

            $("#donateSubmit").click(function () {
                var donate = $("#donateValue").val();
                let data = {
                    proectId: proectId,
                    userId: userId,
                    donate: donate
                }
                $.ajax({
                    url: "/project/donate",
                    data: data,
                    type: 'get',
                    success: function (data) {
                        $("#donateMsg").empty()
                        if (data == "donated successfully")
                            $("#donateMsg").append("<h1>Thanks for your patience </h1>")
                        else
                            $("#donateMsg").append("<h1>you don't have this palance </h1>")

                        if (data.is_taken) {
                            alert(data.error_message);
                        }
                    }
                });


            });


        });


    </script>
{% endblock scripts %}